body {
    background-image: url(../img/bg.jpg);

}

.flt-search #div_id_clinical_name, 
.flt-search #div_id_owner_name,
.flt-search #div_id_start_date,
.flt-search #div_id_end_date,
.flt-search #div_id_sent_by,
.flt-search #div_id_message,
.flt-search #div_id_employee
{
    float: left;
    width: 200px;
    margin-right: 20px;
}

/*.entry-form #div_id_surveillance_type, */
.entry-form #div_id_quarter, 
.entry-form #div_id_species,
.entry-form #div_id_species_breed,
.entry-form #div_id_owner_contact_no,
.entry-form #div_id_specie_sex,
.entry-form #div_id_owner_name,
.entry-form #div_id_owner_gender,
.entry-form #div_id_localty,
.entry-form #div_id_localty_longitude,
.entry-form #div_id_localty_latitude,
.entry-form #div_id_animal_group_size,
.entry-form #div_id_animalID,
.entry-form #div_id_date,
.entry-form #div_id_region,
.entry-form #div_id_clinical_name,
.entry-form #div_id_pet_name,
.entry-form #div_id_anamnesis,
.entry-form #div_id_principal_signs,
.entry-form #div_id_clinical_diagnosis,
.entry-form #div_id_clinical_prognosis,
.entry-form #div_id_animal_live_weight,
.entry-form #div_id_reporter_name,
.entry-form #div_id_start_date,
.entry-form #div_id_end_date,
.entry-form #div_id_month,
.entry-form #div_id_year,
.entry-form #div_id_specie_age,
.entry-form #div_id_principal_signs,
.entry-form #div_id_clinical_diagnosis,
.entry-form #div_id_disease_code,
.entry-form #div_id_clinical_prognosis,
.entry-form #div_id_vaccination_history,
.entry-form #div_id_notifiable_disease,
.entry-form #div_id_notification_frequency,
.entry-form #div_id_zoonosis,
.entry-form #div_id_no_of_cases,
.entry-form #div_id_no_of_deaths,
.entry-form #div_id_no_destroyed,
.entry-form #div_id_incedence_rate,
.entry-form #div_id_motality_rate,
.entry-form #div_id_mobidity_rate,
.entry-form #div_id_lab_sample_collected,
.entry-form #div_id_sample_type,
.entry-form #div_id_sample_ID,
.entry-form #div_id_lab_test_applied,
.entry-form #div_id_lab_test_results,
.entry-form #div_id_control_measures,
.entry-form #div_id_new_outbreak,
.entry-form #div_id_owner_nin_no,
.entry-form #div_id_production_system,
.entry-form #div_id_production_type,
.entry-form #div_id_no_animal_producer,
.entry-form #div_id_no_of_borns,
.entry-form #div_id_no_of_deaths,
.entry-form #div_id_no_of_milkltres,
.entry-form #div_id_no_of_eggs,
.entry-form #div_id_cost_produced_per_milk_ltres,
.entry-form #div_id_cost_produced_eggs,
/*.entry-form #div_id_employee,*/
/*.entry-form #div_id_approve_one,*/
/*.entry-form #div_id_approve_two,*/
.entry-form .btn
{
    float: left;
    width: 189px;
    margin-right: 20px;
}

.title{
    font-family: helvetica;
    font-weight: bold;
    font-size: 25px;
    color: #2e6da4;
    text-align: left;
}

.profile_detail{
    padding: auto;
    margin: 17px;
    /*border: 1px black solid;*/
    /*height: 15%;*/
    box-shadow: 12px 12px 12px #b5b8bc;
    background-color: white;
    margin-bottom: 1%;
}

.profile_detail2{
    padding: auto;
    /*margin: 1%;*/
    /*border: 1px black solid;*/
    height: 15%;
    box-shadow: 12px 12px 12px #b5b8bc;
    background-color: white;
    margin-bottom: 1%;
}


/*Color, align and shadow the table*/
table{
    width: 100%;
    /*margin: auto;*/
    text-align: center;
    /*box-shadow: 12px 12px 20px 6px #2e6da4;*/
    font-size: 15px;
}


/*Make alternating colors for the table rows*/
table tr:nth-child(odd){
    background: #B8CAE4
}
 
table tr:nth-child(even){
    background: #dae5f4
 
}

.success{
	list-style: none;
	background-color: #2e6da4;
	color: white;
	box-shadow: 12px 12px 12px #e61c66;
	text-align: center;
	}

#settings{
    background-color: #212529;
    color: white;
    text-align: center;
    display: inline;
    font-weight: bolder;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 5px;
    position: fixed;
    bottom: 0px;
    left: -80px;
    z-index: 3000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
 
 
 
#settings:hover{
    left: 0px;
    -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.notice_board{
    background-color: #212529;
    color: white;
    /*text-align: center;*/
    display: inline;
    /*font-weight: bolder;*/
    /*size: 5px !important;*/
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 5px;
    position: fixed;
    bottom: 80px;
    height: 500px;
    left: -140px;
    z-index: 3000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

a:link{
    text-decoration: none;
    /*text text-decoration-line: none;*/
}


.message-list:hover{
    transform: scale(1.01);
}


.mybutton{
    /*color: white;    */
    position: absolute;
    bottom: 10px;
}

.message{
    color: #dc3545; 
    font-weight: bolder;
}

.message:hover{
    transform: scale(1.1);
}


 
 
.notice_board:hover{
    left: 0px;
    -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}


.blink-me{
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
