<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">LMIS v1.0</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if request.user.is_authenticated %}
      
      {% if perms.djangoapp.add_diseasereport %}
      <li class="nav-item">
        <a class="nav-link" href="/disease_report_list">Disease Report</a>
      </li>
      {% endif %}
      {% if perms.djangoapp.add_clinical %}
      <li class="nav-item">
        <a class="nav-link" href="/clinical_list">Clinical</a>
      </li>
      {% endif %}
      {% if perms.djangoapp.add_lab %}
      <li class="nav-item">
        <a class="nav-link" href="/lab_list">Lab</a>
      </li>
      {% endif %}
      {% if perms.djangoapp.add_abottoir %}
      <li class="nav-item">
        <a class="nav-link" href="/abattoir_list">Abattoir</a>
      </li>
      {% endif %}
      {% if perms.djangoapp.add_locality %}
      <li class="nav-item">
        <a class="nav-link" href="/locality_list">Locality Infor</a>
      </li>
      {% endif %}
      {% if perms.djangoapp.add_vaccination %}
      <li class="nav-item">
        <a class="nav-link" href="/vaccination_list">Vaccination</a>
      </li>
      {% endif %}
      {% if perms.djangoapp.add_vetinfraindustry %}
      <li class="nav-item">
        <a class="nav-link" href="/vetInfraIndustry_list">Vet Industry</a>
      </li>
      {% endif %}
      {% if perms.djangoapp.add_transportfleet %}
      <li class="nav-item">
        <a class="nav-link" href="/transportFleet_list">Transport Fleet</a>
      </li>
      {% endif %}
      {% if perms.djangoapp.add_production %}
      <li class="nav-item">
        <a class="nav-link" href="/production_list">Production</a>
      </li>
      {% endif %}
      {% if perms.djangoapp.add_permit %}
      <li class="nav-item">
        <a class="nav-link" href="/permits_list">Permit</a>
      </li>
      {% endif %}

      {% endif %}
    </ul>
    <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
        <li><a href="/accounts/logout"><button class="btn btn-danger">{{ user }} | Logout</button></a></li>
        {% else %}
        <li><a href="/accounts/login">Login</a></li>
        {% endif %}
    </ul>
  </div>
</nav>

{% if request.user.is_authenticated %}
      <a href="/settings"> 
        <div id="settings">
              Settings <img src="/static/img/settings.png">
        </div>
      </a>
{% endif %}

{% if request.user.is_authenticated %}
      <a href="/notice_board"> 
        <div id="notice_board">
              <span style="color: #dc3545; font-weight: bolder;">Notice board</span> <img src="/static/img/annoucement.png"><br>
              
              <span style="color: #dc3545;">From:</span> Director<span class="blink-me"><img src="/static/img/new25.png"></span><br>
              <span style="color: #dc3545;">From:</span> DDirector</span><span class="blinkme"></span><br>
              <span style="color: #dc3545;">From:</span> DDirector</span><span class="blinkme"></span><br>
              <!-- From: <span class="red">DDG<span class="blinkme"></span><br>
              From: <span class="red">DG<span class="blinkme"></span><br>
              From: <span class="red">DG<span class="blinkme"></span><br>
              From: <span class="red">DDG<span class="blinkme"></span><br> -->
        </div>
      </a>
{% endif %}